# folder yang digunakan untuk build dan tidak perlu masuk ke repositori
bin/
obj/

# entah file apa ini, program tidak akan error sekalipun dihaups
# jangan gitignore *.csproj, hanya ignore *.csproj.user
*.csproj.user

# file buatan dari Visual Studio?
*.vs

# file dari merge confilct resolution dan tidak perlu masuk ke repositori
*.orig

# jangan masukkan logs ke repositori
logs/

# folder untuk hasil dari dotnet test tidak perlu dimasukkan
TestResults/

