# folder yang digunakan untuk build dan tidak perlu masuk ke repositori
bin/
obj/

# jangan gitignore *.csproj, hanya ignore *.csproj.user
*.csproj.user

# file buatan dari Visual Studio?
*.vs

# file dari merge confilct resolution dan tidak perlu masuk ke repositori
*.orig