.topbar {
    background:#f2c94c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    bottom: 0;
}

.login {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.login > * {
    padding: 10px;
}

.topbar > * {
    margin: 20px;
}

.inputfield {
    width: 25rem;
}

.button {
    width: 7rem;
    padding: 10px;
    border-radius: 10px;
    border-color: #5d5fef;
    border-style: solid;
    
}

.cancel {
    background: none;
    color: #5d5fef;
}

.confirm {
    background: #5d5fef;
    color: #ffffff;
}

.content > form > * {
    margin: 20px;
}