@page "/login"
@using System.ComponentModel.DataAnnotations
@using MudBlazor.Services;
@using Microsoft.Extensions.Localization;
@using MyApp.BlazorUI.Components;

@inject NavigationManagerExt Navigation;

<PageTitle>Login</PageTitle>

<MudPaper Class="pa-0 mx-auto mt-12" MaxWidth="800px" Elevation="0">

    <MudText Typo="Typo.h5" Class="mb-4">Selamat Datang Musikers!</MudText>
    <MudText Typo="Typo.subtitle1" Class="mb-4">Login Dulu Yuk!</MudText>

    <MudForm @ref="_form">
        <MudTextField @bind-Value="_loginModel.Email"
                      Label="Masukkan Email"
                      Variant="Variant.Outlined"
                      Required="true"
                      RequiredError="Email Harus diisi!"
                      Validation="@(new EmailAddressAttribute() {ErrorMessage = "Format Email Salah '@' dan '.'"})" />


        <MudTextField @bind-Value="_loginModel.Password"
                      Label="Masukkan Password"
                      Variant="Variant.Outlined"
                      InputType="InputType.Password"
                      Required="true"
                      RequiredError="Password Harus Diisi!"
                      Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" />


    <!-- Forgot password link -->
    <div class="d-flex justify-end mb-4">
        <MudText Typo="Typo.body2">
            <MudLink OnClick="Navigation.GoToForgotPass" Color="Color.Primary">Lupa kata sandi</MudLink>
        </MudText>
    </div>

    <!-- Login button -->
    <MudButton OnClick="OnConfirm" Variant="Variant.Filled" Color="Color.Primary" Style="width: 140px; height: 43px; border-radius: 8px">
            Masuk
    </MudButton>

    <!-- Register link -->
    <div class="mt-2">
        <MudText Typo="Typo.body2">
            Belum punya akun? 
            <MudLink OnClick="Navigation.GoToRegister" Color="Color.Primary" Class="ml-1">Daftar disini</MudLink>
        </MudText>
    </div>
    </MudForm>
</MudPaper>

@code {
    private MudForm _form;
    private LoginModel _loginModel = new();
   
    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password Harus Diisi!";
            yield break;
        } //ditambahkan validasi password salah (sesuai database)
    }

    private async Task OnConfirm()
    {
        await _form.Validate();
        if (_form.IsValid)
        {
            Navigation.GoToHome();
        }
    }
}
