@inherits LayoutComponentBase;
@using MyApp.BlazorUI.Components.Pages;

@inject NavigationManagerExt Navigation;

<style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mud-main-content {
    flex;
}
</style>

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode"/>

<MudLayout>
    @if (Loggedin)
    {
        <MudAppBar Elevation="1">
            <MudLink Href="/" Color="Color.Default">
                <MudImage Src="img/applogo.svg" Alt="App Logo"/>
            </MudLink>
            <MudSpacer />
            <MudIconButton OnClick="Navigation.GoToCheckout" Icon="@Icons.Material.Filled.ShoppingCart"></MudIconButton>
            <MudButton Variant="Variant.Text" Class="mx-2" Href="/myclass">
                <MudText>Kelasku</MudText>
            </MudButton>
            <MudButton Variant="Variant.Text" Class="mx-2">
                <MudText>Pembelian</MudText>
            </MudButton>
            <MudText Class="mx-2">|</MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Person"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="Logout"></MudIconButton>
        </MudAppBar>
    }
    else
    {
        <MudAppBar Elevation="1">
            <MudLink Href="/" Color="Color.Default">
                <MudImage Src="img/applogo.svg" Alt="App Logo"/>
            </MudLink>
            <MudSpacer />
            <MudButton OnClick="Navigation.GoToRegister" Variant="Variant.Text" Href="/register" Class="mx-2">
                <MudText>Daftar Sekarang</MudText>
            </MudButton>
            <MudButton OnClick="Navigation.GoToLogin" Variant="Variant.Filled" Color="Color.Primary" Href="/login">
                <MudText>Masuk</MudText>
            </MudButton>
        </MudAppBar>
    }
    <MudMainContent Class="pt-16">
        @Body
    </MudMainContent>
</MudLayout>

<!---Footer-->
<MudPaper Class="footer mt-12" Style="background-color:#F8D24B; border-radius: 0;">
     <MudContainer MaxWidth="MaxWidth.Large" Class="py-10">
        <MudGrid Class="d-flex justify-space-evenly">
            <!-- Kolom Tentang -->
            <MudItem xs="12" sm="6" md="4">
                <MudText Typo="Typo.h6" Class="mb-2"><b>Training</b></MudText>
                <MudText Typo="Typo.body2">
                    pelatihan Musik Online dan Offline untuk semua usia dan level kemampuan.
                </MudText>
            </MudItem>

            <!-- Kolom Produk -->
            <MudItem xs="12" sm="6" md="4">
                <MudText Typo="Typo.h6" Class="mb-2"><b>Produk</b></MudText>
				<MudStack Row="true" Spacing="1">
                <ul class="ml-4" style="columns: 2; column-gap: 20px;">
					<li>Biola</li>
					<li>Gitar</li>
					<li>Drum</li>
					<li>Menyanyi</li>
					<li>Piano</li>
					<li>Saxophone</li>
				</ul>
				</MudStack>
            </MudItem>

            <!-- Kolom Alamat -->
            <MudItem xs="12" sm="4">
     <MudText Typo="Typo.subtitle1"><b>Alamat</b></MudText>
     <MudText>Jl. Harmoni No. 123, Jakarta - Indonesia<br />Email: info@apelmusic.com</MudText>
     <MudText Typo="Typo.subtitle1"><b>Kontak</b></MudText>
    <MudLink Href="" Target="_blank" Class="mr-2">
         <MudImage Src="img/Logo-phone.png" Alt="Phone Logo" Style="width: 35px; height: 35px;" />
    </MudLink>
    <MudLink Href="https://instagram.com" Target="_blank" Class="mr-2">
           <MudImage Src="img/Logo-instagram.png" Alt="Instagram Logo" Style="width: 35px; height: 35px;" />
    </MudLink>
    <MudLink Href="https://youtube.com" Target="_blank" Class="mr-2">
         <MudImage Src="img/Logo-youtube.png" Alt="Youtube Logo" Style="width: 35px; height: 35px;" />
    </MudLink>
    <MudLink Href="https://telegram.com" Target="_blank" Class="mr-2">
       <MudImage Src="img/Logo-Telegram.png" Alt="Telegram Logo" Style="width: 35px; height: 35px;" />
    </MudLink>
    <MudLink Href="https://mail.gmail.com" Target="_blank" Class="mr-2">
          <MudImage Src="img/Logo-Email.png" Alt="Email Logo" Style="width: 35px; height: 35px;" />
    </MudLink>
 </MudItem>
        </MudGrid>
    </MudContainer>
</MudPaper>


@code {
    MudTheme MyCustomTheme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] {"Poppins"},
                FontWeight = "500"
            }
        }
    };

    private bool Loggedin = true;
    private void Logout()
    {
        Loggedin = false;
    }

    private bool _drawerOpen = true;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            PaletteLight = _lightPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


    private readonly PaletteLight _lightPalette = new()
    {
        Primary = "#5D5FEF", //Button Color
        Black = "#110e2d",
        AppbarText = "#424242",
        AppbarBackground = "#F2C94C",
        DrawerBackground = "#ffffff",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
    };

    
}