@inherits LayoutComponentBase

@using MyApp.BlazorUI.Components.Pages
@using MyApp.BlazorUI.Models
@using MyApp.BlazorUI.Services

@inject NavigationManagerExt Navigation
@inject IUserService UserService
@inject IAuthService AuthService

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <div style="display: flex; flex-direction: column; min-height: 100vh;">

        @if (ShouldShowAppBar())
        {
            <MudAppBar Elevation="1">
                <MudLink OnClick="Navigation.GoToHome">
                    <MudImage Src="img/applogo.svg" Alt="App Logo" />
                </MudLink>
                <MudSpacer />
                @if (Loggedin)
                {
                    @if (IsAdmin)
                    {
                        <MudButton Variant="Variant.Text" OnClick="Navigation.GoToDashboard"><MudText>Admin</MudText></MudButton>
                    }
                    <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" OnClick="Navigation.GoToCheckout" />
                    <MudButton Variant="Variant.Text" OnClick="Navigation.GoToKelasKu"><MudText>Kelasku</MudText></MudButton>
                    <MudButton Variant="Variant.Text" OnClick="Navigation.GoToInvoice"><MudText>Pembelian</MudText></MudButton>
                    <MudText>|</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Person" OnClick="Navigation.GoToProfile"/>
                    <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="HandleLogout" />
                }
                else
                {
                    <MudButton Variant="Variant.Text" OnClick="Navigation.GoToRegister"><MudText>Daftar Sekarang</MudText></MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Navigation.GoToLogin"><MudText>Masuk</MudText></MudButton>
                }
            </MudAppBar>
        }

        <!-- Main Content (flex-grow: 1) -->
        <MudMainContent Class="pa-4 pt-6" Style="flex: 1;">
            @Body
        </MudMainContent>

        @if (ShouldShowFooter())
        {
            <MudPaper Class="mt-12" Style="background-color:#F8D24B; border-radius: 0;">
                <MudContainer MaxWidth="MaxWidth.Large" Class="py-10">
                    <MudGrid Class="d-flex justify-space-evenly">
                        <MudItem xs="12" sm="6" md="4">
                            <MudText Typo="Typo.h6" Class="mb-2"><b>Tentang</b></MudText>
                            <MudText Typo="Typo.body2">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </MudText>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudText Typo="Typo.h6" Class="mb-2"><b>Produk</b></MudText>
                            <MudStack Row="true" Spacing="1">
                                <ul class="ml-4" style="columns: 2; column-gap: 20px;">
                                    <li>Biola</li>
                                    <li>Gitar</li>
                                    <li>Drum</li>
                                    <li>Menyanyi</li>
                                    <li>Piano</li>
                                    <li>Saxophone</li>
                                </ul>
                            </MudStack>
                        </MudItem>

                        <MudItem xs="12" sm="12" md="4">
                            <MudText Typo="Typo.h6" Class="mb-2"><b>Alamat</b></MudText>
                            <MudText Typo="Typo.body2" Class="mb-2">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </MudText>
                            <MudText Typo="Typo.h6"><b>Kontak</b></MudText>
                            <MudStack Row="true" Spacing="2">
                                <MudLink Href="tel:+62"><MudIconButton><img src="img/icon-telephone.svg" /></MudIconButton></MudLink>
                                <MudLink Href="https://www.instagram.com/" Target="_blank"><MudIconButton><img src="img/icon-instagram.svg" /></MudIconButton></MudLink>
                                <MudLink Href="https://www.youtube.com/" Target="_blank"><MudIconButton><img src="img/icon-youtube.svg" /></MudIconButton></MudLink>
                                <MudLink Href="https://web.telegram.org/"><MudIconButton><img src="img/icon-tele.svg" /></MudIconButton></MudLink>
                                <MudLink Href="mailto:aku@gmail.com"><MudIconButton><img src="img/icon-email.svg" /></MudIconButton></MudLink>
                            </MudStack>
                        </MudItem>
                    </MudGrid>
                </MudContainer>
            </MudPaper>
        }
    </div>

</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [Inject] private NavigationManager NavManager { get; set; } = default!;
    MudTheme MyCustomTheme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] {"Poppins"},
                FontWeight = "500"
            }
        }
    };

    [Parameter] 
    public Role UserRole { get; set; } = Role.User; //role user
    private bool Loggedin = false;
    private bool IsAdmin = false;

    /// <summary>
    /// Handle user menekan tombol logout
    /// </summary>
    /// <returns></returns>
    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.GoToHome2(); //Logout balik ke home page
    }

    private bool _drawerOpen = true;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    private string? currentPath;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        currentPath = NavManager.Uri;

        NavManager.LocationChanged += async (_, __) =>
        {
            currentPath = NavManager.Uri;
            await UpdateLogin();
            StateHasChanged(); // Refresh tampilan saat route berubah
        };

        _theme = new()
        {
            PaletteLight = _lightPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateLogin();
            StateHasChanged();
        }
    }

    private async Task UpdateLogin()
    {
        Loggedin = await AuthService.IsLoggedIn();
        IsAdmin = await AuthService.IsAdmin();
    }

    // ====== Logic Visibility ======

    private bool ShouldShowFooter()
    {
        var path = NavManager.ToBaseRelativePath(NavManager.Uri).ToLower();
        return !(path.Contains("checkout") ||
                 path.Contains("success-purchase") ||
                 path.Contains("confirm-email"));
    }

    private bool ShouldShowAppBar()
    {
        var path = NavManager.ToBaseRelativePath(NavManager.Uri).ToLower();
        return !(path.Contains("success-purchase") ||
                 path.Contains("confirm-email"));
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private readonly PaletteLight _lightPalette = new()
    {
        Primary = "#5D5FEF",
        Black = "#110e2d",
        AppbarText = "#424242",
        AppbarBackground = "#F2C94C",
        DrawerBackground = "#F8D24B",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
    };
}
