@inject NavigationManagerExt Navigation;

<MudNavMenu>
    <MudNavLink Style="color:#110e2d" OnClick="Navigation.GoToDashboard" Icon="@Icons.Material.Filled.Home">Dashboard</MudNavLink>
    <MudNavLink Style="color:#110e2d" OnClick="Navigation.GoToUserManagement" Icon="@Icons.Material.Filled.PeopleAlt">User Management</MudNavLink>
    <MudNavLink Style="color:#110e2d" OnClick="Navigation.GoToPaymentMethod" Icon="@Icons.Material.Filled.Payments">Payment Method</MudNavLink>
</MudNavMenu>


@* <div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" OnClick="Navigation.GoToDashboard">AppleMusic</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" OnClick="Navigation.GoToDashboard" Match="NavLinkMatch.All" Icon="Icons.Material.Filled.Home">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" OnClick="Navigation.GoToUserManagement" Icon="Icons.Material.Filled.PeopleAlt">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> User Management
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" OnClick="Navigation.GoToPaymentMethod" Icon="Icons.Material.Filled.Payments">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Payment Method
            </NavLink>
        </div>
    </nav>
</div>
 *@
